#intro
Python is a high-level programming language, commonly used for
general purposes. It was originally developed by Guido van Rossum at the
"Center Wiskunde & Informatica (CWI), Netherlands”, in the 1980s and
introduced by the “Python Software Foundation” in 1991. It was designed
primarily to emphasize the readability of programming code, and its syntax
enables programmers to convey ideas using fewer lines of code. Python
programming language increases the speed of operation while allowing for
higher efficiency in creating system integrations. Developers are using
Python for “web development (server-side), software development,
mathematics, system scripting”.

With the introduction of various enhancements such as “list
comprehension” and a “garbage collection system”, which can collect
reference cycles, the Python 2.0 was launched in the last quarter of 2000.
Subsequently, in 2008, Python 3.0 was released as a major version upgrade
with backward compatibility allowing for the Python 2.0 code to be
executed on Python 3.0 without requiring any modifications. Python is
supported by a community of programmers that continually develop and
maintain the “CPython”, which is an open-source reference
implementation. The “Python Software Foundation” is a not for profit
organization that is responsible for managing and directing resources for
developing Python programming as well as “CPython”.

Here are some of the key features of Python that render it as the
language of choice for coding beginners as well as advanced software
programmers alike:

1.**Readability** : Python reads a lot like the
English language, which contributes to its ease of readability.

2.**Learnability** : Python is a high level programming
language and considered easy to learn due to the ability to code
using English language like expressions, which implies it is
simple to comprehend and thereby learn the language.

3.**Operating Systems** : Python is easily accessible and can
be operated across different Operating systems, including
Linux, Unix, Mac, Windows among others. This renders
Python as a versatile and cross-platform language.

4.**Open Source** : Python is "open source”, which means
that the developer community can seamlessly make updates to
the code, which are always available to anyone using Python
for their software programming needs.

5.**Standardized Data Libraries** : Python features a big
standard data library with a variety of useful codes and
functionalities that can be used when writing Python code for
data analysis and development of machine learning models.
(Details on machine learning libraries will be provided later in
this chapter)

6.**Free** : Considering the wide applicability and usage of
Python, it is hard to believe that it continues to be freely
available for easy download and use. This implies that anyone
looking to learn or use Python can simply download and use it
for their applications completely free of charge. Python is
indeed a perfect example of a "FLOSS (Free/Libre Open
Source Software)”, which means one could "freely distribute
copies of this software, read its source code and modify it”.

7.**Supports managing of exceptions** : An "exception" can
be defined as "an event that can occur during program
exception and can disrupt the normal flow of program”. Python
is capable of supporting handling of these "exceptions”,
implying that you could write fewer error-prone codes and test
your code with a variety of cases, which could potentially lead
to an "exception" in the future.

8.**Advanced Features** : Python can also support
"generators and list comprehensions”. ⠀ Storage governance :Python is also able to support "automatic memory
management”, which implies that the storage memory will be
cleared and made available automatically. You are not required
to clear and free up the system memory.

#Python Coding Basic

Indentation – To understand the Python coding structure, you must first
understand the significance of indentation or the number of spaces before
you start typing the code. Unlike other coding languages where
“indentation” is added to enhance the readability of the code, in Python, it is
used to indicate a set of code. For example, look at the code below


```
If 7 > 4:
    print (‘Seven is greater than 4’)
```


There is indentation prior to the second line of code with the print
command. If you skip the indentation and write the code as below, you will
receive an error:


```
If 7 > 4:
print (‘Seven is greater than 4’)
```

The number of spaces can be adjusted but must be at least single-spaced.
For example, you can execute the code below with higher indentation, but
for a specific set of code same number of spaces must be used, or you will
receive an error.


```
If 7 > 4:
              print (‘Seven is greater than 4’)
```


Adding Comments – In Python, you can add comments to the code by
starting the code comment lines with a “#”, as shown in the example below:

'#Add any relevant comment here

'print (‘Planet Earth’ )

Comments are also used as a description of the code and not executed by
the Python terminal. It is important to remember that if you put a comment
at the end of code like the entire code line will be skipped by the Python
terminal, as shown in the code below. Comments are extremely useful in
case you need to stop the execution when you are testing the code.

'print (‘Planet Earth’) #Add comments here

You can also add multiple lines of comments by starting each code line
with “#”, as shown below:

'#Add comment here

'#Supplement the comment here

'#Further add the comment here

print (‘Planet Earth’)

##Python Variables
There are certain rules applied to the Python variable names as follows:
1. Variable names can be short as single alphabets or more
descriptive words like height, weight, etc
2. Variable names can only be started with an underscore
character or a letter.
3. Variable names must not start with numbers.
4. Variable names may contain underscores or alphanumeric
characters. No other special characters are allowed.
5. Variable names are case sensitive. For example, ‘height,’
‘Height’ and ‘HEIGHT’ will be accounted as 3 separate
variables.
#Output Variables
In order to retrieve variables as output, the “print” statements are used in
Python. You can use the “+” character to combine text with a variable for
final output, as shown in the example below:

```
‘A = ‘red’
print (‘Apples are’ + A)’
```
> OUTPUT – ‘Apples are red’

A variable can also be combined with another variable using the “+”
character, as shown in the example below

```
‘A = ‘Apples are’
B = ‘red’
AB = A + B
print (AB)’
```
> OUTPUT – ‘Apples are red’

However, when the “+” character is used with numeric values, it retains
its function as a mathematical operator, as shown in the example below:

```
‘A = 20
B = 30
print (A + B)’
```
> OUTPUT = 5 0

You will not be able to combine a string of characters with numbers and
will trigger an error instead, as shown in the example below:
```
A = ‘red’
B = 30
print (A + B)
```
> OUTPUT – N/A – ERROR

In the previous chapter, you learned the basics of Python syntax, the
concept of Python Variables, and Comments that serve as a prerequisite to
the learning of Python programming. In this chapter, we will be looking at
the nuances of how to write efficient and effective Python codes, focusing
on various programming elements such as Booleans, Tuples, Sets,
Dictionaries and much more. So let’s get started.

##Python Numbers
In Python programming, you will be working with 3 different numeric
data types, namely, “int”, “float”, and “complex”. In the previous chapter,
you learned the details of what these data types entail, but below are some
examples to refresh your memory.

####Data Type
#####Int
(Must be a whole number, positive or negative with no
decimals, no length restrictions). Example: 363 or 3.214
#####Float
(Floating point number must be a positive or negative
number with one or more decimals; maybe scientific number an
“e” to specify an exponential power of 10). Example: 29e3
######Complex
(Must be written with a “j” as an imaginary character). Example: 92j

> Excercise
1. Create variable “a” with data value as “3.24”, variable
“b” with data value as “9e3” and variable “c” with data value as “-39j”.

In [ ]:
a = 3.24 # int
b = 9e3 # float
c = -39j # complex
print (type (a) )
print (type (b))
print (type (c))

###Converting one numeric data type to another
As all Python variables are dynamic in nature, you will be able to
convert the data type of these variables if needed by deriving a new variable
from the variable that you would like to assign a new data type.

In [ ]:
a = 3.24 # int
b = 9e3 # float
c = -39j # complex
#conversion from int to float
x = float (a)
#conversion from float to complex
y = complex (b )
#conversion from complex to int
z = float (c)
#conversion from int to complex
x1 = int (a)
print (x)
print (y)
print (z)
print (x1)
print (type (x))
print (type (y))
print (type (z))
print (type (x1))

In [ ]:
#View a random number between 14 and 24 by importing
the random module
import rando m
print (random.randrange (14, 24))

###Variable Casting with Constructor Functions
In the discussion and exercise above, you learned that variables could be
declared by simply assigning desired data value to them, and thereby, the
variables will assume the pertinent data type based on the data value.
However, Python allows you to specify the data types for variables by using
classes or “constructor functions” to define the data type for variables. This
process is called “Casting”.

Here are the 3 constructor functions used for “casting” numeric data type
to a variable.
####Constructor Functions - Data Type
int () - Will construct an integer number from an integer literal, a
string literal (provided the string is representing a whole
number) or a float literal (by rounding down to the preceding
whole number)

float () -  Will construct a float number from a string literal (provided
the string is representing a float or an integer), a float literal or
an integer literal

complex () - Will construct a string from a large number of data types,
such as integer literals, float literals, and strings

In [ ]:
#Here are some examples:
#Integer:
a = int (6) # a takes the value 6
b = int (4.6) # b takes the value 4
c = int (‘7’) # c takes the value 7

#Float:
a = float (6) # a takes the value 6.0
b = float (4.6) # b takes the value 4.6
c = float (‘7’) # c takes the value 7.0

#String:
a = str (‘serial’) # a takes the value ‘serial’
b = str (4.6) # b takes the value ‘4.6’
c = str (‘7’) # c takes the value ‘7.0 ’

##Python Strings
In Python, string data type for a variable is denoted by using single,
double, or triple quotation marks. This implies that you can assign string
data value to variable by quoting the string of characters. For example,
“welcome” is the same as ‘welcome’ and ‘‘‘welcome’’’.

> Excercise

1. Create a variable “v” with a string data value as “outfit is
cyan” and display it.

2. Create a variable “A” with a multiple-line string data
value as “Looking at the sky tonight, thinking of you by my side! Let the world go on and on; it will be alright if I stay strong!” and display it.

In [ ]:
v = ‘outfit is cyan’
print (v)

In [ ]:
a = ‘‘‘Loving another is never easy,
People tell you it won’t be breezy!You make your own decision,
Don’t let the fear stop you from your persuasion! ’’’
print (a)

##String Arrays
In Python, string data values are arrays of bytes that represent Unicode
characters as true for most programming languages. But unlike other
programming languages, Python lacks data type for individual characters,
which are denoted as string data type with length of 1.

The first character of every string is given the position of ‘0’, and
subsequently, the subsequent characters will have the position as 1, 2, 3,
and so on. In order to display desired characters from a string data value,
you can use the position of the character enclosed in square brackets. For
example, if you wanted to display the fifth character of the string data value
“apple” of variable “x”. You will use the command “print (x [4])”

> Excercise

1. Create a variable “P” with a string data value as
“brilliant” and display the fourth character of this string

In [ ]:
P = ‘brilliant’
print (P [4])

##Slicing
If you would like to view a range of characters, you can do so by
specifying the start and the end index of the desired positions and
separating the indexes by a colon. For example, to view characters of a
string from position 1 to position 3, your code will be “print (variable
[1:3])” .

You can even view the characters starting from the end of the string by
using “negative indexes” and start slicing the string from the end of the
string. For example, to view characters of a string from position 4 to
position 1, your code will be “print (variable [-4 : -2])”.

In order to view the length of the string, you can use the “len ()”
function. For example, to view the length of a string, your code will be
“print (len (variable))”

> Excercise

1. Create a variable “P” with a string data value as “strive
for success!” and display characters from position 3 to 6 of this string.
2. Create a variable “x” with a string data value as “coding
is cool” and display characters from position 6 to 1, starting the count from the end of this string. 
3. Create a variable “z” with a string data value as
“programming champ” and display the length of this string .

In [ ]:
P = ‘ strive for success!’
print (P [4 : 7])

In [ ]:
x = ‘ coding is cool’
print (x [-6 : -2])

In [ ]:
z = ‘ programming champ’
print (len (z))

##String Methods
There are various built-in methods in Python that can be applied to string
data values. Here are the Python codes for some of the most frequently used
string methods, using variable “P = ‘roses are red!’” .

In [ ]:
#“strip ()” method – To remove any blank spaces at the start and the end of the string.
P = “ roses are red! ”
print (P.strip ())

In [ ]:
#“lower ()” method – To result in all the characters of a string in lower case.
P = “ROSES are RED!”
print (P.lower ())
OUTPUT – roses are red!

In [ ]:
#“replace ()” method – To replace select characters of a string.
P = “roses are red!”
print (P.replace (“roses”, “apples”))
OUTPUT – apples are red!

In [ ]:
#“split ()” method – To split a string into substrings using comma as the separator .
P = “Roses, Apples”
print (P.split (““,))

##String Concatenation
There might be instances when you need to collate different string
variables. This can be accomplished with the use of the “+” logical
operator. Here’s the syntax for this Python code:

In [ ]:
X = “string1”
Y = “string2”
Z = X + Y
print (Z)

Similarly, below is the syntax to insert a blank space between two
different string variables.

In [ ]:
X = “string1”
Y = “string2”
Z = X + “ ” + Y
print (Z )

However, Python does not permit the concatenation of string variables
with numeric variables. But can be accomplished with the use of the
“format ()” method, which will format the executed arguments and placethem in the string where the placeholders “{ }” are used. Here’s the syntax
for this Python code:

In [ ]:
X = numeric
Y = “String”
print (Y. format (X))

> Excercise

In [ ]:
#Create two variables “A” and “B” with string data values
#as “Let’s have” and “some pizza!” and display them as a concatenated string.
A = “Let’s have”
B = “some pizza!”
C = A + B
print (C )

In [ ]:
#Create two variables “A” with string data values as “her
#lucky number is” and “B” with numeric data value as “18” and display
#them as a concatenated string

A = “her lucky number is”
B = “18”
print (A. format (B))

##Python Booleans
In the process of developing a software program, there is often a need to
confirm and verify whether an expression is true or false. This is where
Python Boolean data type and data values are used. In Python, comparison
and evaluation of two data values will result in one of the two Boolean
values: “True” or “False”.

Here are some examples of comparison statement of numeric data
leading to Boolean value:

In [ ]:
print (100 > 90)
#OUTPUT – True
print (100 == 90)
#OUTPUT – False
print (100 < 90)
#OUTPUT – False

Let’s look at the “bool ()” function now, which allows for the evaluation
of numeric data as well as string data resulting in “True” or “False”
Boolean values.

In [ ]:
print (bool (99) )
#OUTPUT - True
print (bool (“Welcome”))
#OUTPUT - True

Here are some key points to remember for Booleans:

1. If a statement has some kind of content, it would be evaluated as “True”.
2. All string data values will be resulting as “True” unless the string is empty.
3. All numeric values will be resulting as “True” except “0”
4. Lists, Tuples, Set, and Dictionaries will be resulting as “True” unless they are empty.
5. Mostly empty values like (), [], {}, “”, False, None and 0 will be resulting as “False”.
6. Any object created with the “_len_” function that result in the data value as “0” or “False” will be evaluated as “False”.

In Python there are various built-in functions function that can be evaluated as Boolean, for example, the “isinstance()” function, which allows you to determine the data type of an object. Therefore, in order to check if an object is integer, the code will be as below:

In [ ]:
X = 123
print (isinstance (X, int))

> Excersie

Create two variables “X” with string data values as “Just
do it!” and “Y” with numeric data value as “3.24” and evaluate them.

In [ ]:
X = “Just do it!”
Y = 3.24
print (bool (X))
print (bool (Y)

##Python Lists
In Python, lists are collections of data types that can be changed,
organized, and include duplicate values. Lists are written within square
brackets, as shown in the syntax below.

In [ ]:
X = [“string001”, “string002”, “string003”]
print (X)

The same concept of position applies to Lists as the string data type,
which dictates that the first string is considered to be at position 0.
Subsequently, the strings that will follow are given positions 1, 2, and so on.
You can selectively display desired string from a List by referencing the
position of that string inside square bracket in the print command, as shown
below.

In [ ]:
X = [“string001”, “string002”, “string003”]
print (X [2]) #OUTPUT – [string003]

In [ ]:
#Similarly, the concept of negative indexing is also applied to Python List.
X = [“string001”, “string002”, “string003”]
print (X [-2]) #OUTPUT – [string002]

You will also be able to specify a **range of indexes** by indicating the
start and end of a range. The result in values of such command on a Python
List would be a new List containing only the indicated items. Here is an
example for your reference

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
print (X [2 : 4]) #OUTPUT – [“string003”, “string004”]

#* Remember the first item is at position 0, and the final position of the range (4) is not included.

In [ ]:
#Now, if you do not indicate the start of this range, it will default to the position 0 as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
print (X [ : 3] )
#OUTPUT – [“string001”, “string002”, “string003”]

In [ ]:
#Similarly, if you do not indicate the end of this range it will display all
#the items of the List from the indicated start range to the end of the List, as
#shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (X [3 : ])
#OUTPUT – [“string004”, “string005”, “string006”]

You can also specify a **range of negative indexes** to Python Lists, as
shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (X [-3 : -1]) #OUTPUT – [“string004”, “string005” ]
#* Remember the last item is at position -1, and the final position of this range (-1) is not included in the Output.

There might be instances when you need to **change the data value** for a
Python List. This can be accomplished by referring to the index number of
that item and declaring the new value. Let’s look at the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
X [3] = “newstring”
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “newstring”,
#“string005”, “string006”]

You can also determine the **length** of a Python List using the “len()”
function, as shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (len (X) )

Python Lists can also be changed by **adding new items** to an existing
list using the built-in “append ()” method, as shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
X.append (“newstring”)
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, “newstring”]

In [ ]:
#You can also, add a new item to an existing Python List at a specific
#position using the built-in “insert ()” method, as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”]
X.insert (2, “newstring”)
print (X)
#OUTPUT – [“string001”, “string002”, “newstring”, “string004”]

In [ ]:
#There might be instances when you need to copy an existing Python
#List. This can be accomplished by using the built-in “copy ( )” method or
#the “list ( )” method, as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
Y = X.copy( )
print (Y)
# Y sama dengan x

In [ ]:
#alternatif
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
Y = list (X)
print (Y)

There are multiple built-in methods to **delete** items from a Python List

In [ ]:
#To selectively delete a specific item, the “remove ()” method can be used.
X = [“string001”, “string002”, “string003”, “string004” ]
X.remove (“string002”)
print (X)

In [ ]:
#To delete a specific item from the List, the “pop ()” method
#can be used with the position of the value. If no index has been
#indicated, the last item of the index will be removed.
X = [“string001”, “string002”, “string003”, “string004”]
X.pop ( )
print (X)

In [ ]:
#To delete a specific index from the List, the “del ()” method
#can be used, followed by the index within square brackets.
X = [“string001”, “string002”, “string003”, “string004”]
del X [2]
print (X)

In [ ]:
#To delete the entire List variable, the “del ()” method can be used, as shown below.
X = [“string001”, “string002”, “string003”, “string004”]
del X

In [ ]:
#To delete all the string values from the List without deleting
#the variable itself, the “clear ()” method can be used, as shown below.
X = [“string001”, “string002”, “string003”, “string004”]
X.clear()
print (X)

##Concatenation of Lists
You can join multiple lists with the use of the “+” logical operator or by
adding all the items from one list to another using the “append ( )” method.
The “extend ( )” method can be used to add a list at the end of another list.
Let’s look at the examples below to understand these commands .

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
Y = [10, 20, 30, 40]
Z = X + Y
print (Z)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, 10, 20,30, 40]

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
Y = [10, 20, 30, 40]
For x in Y:
X.append (x)
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, 10, 20, 30, 40]

In [ ]:
X = [“string001”, “string002”, “string003”]
Y = [10, 20, 30]X.extend (Y)
print (X )
#OUTPUT – [“string001”, “string002”, “string003”, 10, 20, 30]

> Excercise


1.   Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and display the item at -2 position.
2.   Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and display the items ranging from the string on the second position to the end of the string.
3. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and replace the string “olive” to “teal”.
4. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and copy the list “A” to create list “B”.
5. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and delete the strings “red” and “lilac”

In [ ]:
A = [“ red”, “olive”, “cyan”, “lilac”, “mustard”]
print (A [-2])

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
print (A [2 : ])

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
A [1] = [“teal”]
print (A)

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
B = A.copy ( )
print (B)

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
del.A [0, 2]
print (A)

##Python Tuples
In Python, Tuples are collections of data types that cannot be changedbut can be arranged in specific order. Tuples allow for duplicate items andare written within round brackets, as shown in the syntax below.

```
Tuple = (“string001”, “string002”, “string003”)
print (Tuple)
```
Similar to the Python List, you can selectively display the desired string
from a Tuple by referencing the position of that string inside square bracket
in the print command as shown below.

In [ ]:
Tuple = (“string001”, “string002”, “string003”)
print (Tuple [1])
#OUTPUT – (“string002”)

The concept of **negative indexing** can also be applied to Python Tuple, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”)
print (Tuple [-2] )
#OUTPUT – (“string004”)

You will also be able to specify a **range of indexes** by indicating the start and end of a range. The result in values of such command on a Python Tuple would be a new Tuple containing only the indicated items, as shown
in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (Tuple [1:5])
#OUTPUT – (“string002”, “string003”, “string004”, “string005”)
#* Remember the first item is at position 0 and the final position of the range,
# which is the fifth position in this example, is not included.

You can also specify a **range of negative indexes** to Python Tuples, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (Tuple [-4: -2])
#OUTPUT – (“string004”, “string005” )
#* Remember the last item is at position -1 and the final position of this range,
# which is the negative fourth position in this example is not included in the Output

Unlike Python lists, you **cannot directly change the data value** of Python Tuples after they have been created. However, conversion of a Tuple into a List and then modifying the data value of that List will allow you to subsequently create a Tuple from that updated List. Let’s look at theexample below:

In [ ]:
Tuple1 = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
List1 = list (Tuple1)
List1 [2] = “update this list to create new tuple”
Tuple1 = tuple (List1)
print (Tuple1)

#OUTPUT – (“string001”, “string002”, “update this list to create new
#tuple”, “string004”, “string005”, “string006” )

You can also determine the **length** of a Python Tuple using the “len()” function, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (len (Tuple))
#OUTPUT – 6

You cannot selectively delete items from a Tuple, but you can use the “del” keyword to **delete the Tuple** in its entirety, as shown in the example below:


```
Tuple = (“string001”, “string002”, “string003”, “string004”)
del Tuple
print (Tuple)
OUTPUT – name ‘Tuple’ is not defined
```
You can **join multiple Tuples** with the use of the “+” logical operator.


```
Tuple1 = (“string001”, “string002”, “string003”, “string004”)
Tuple2 = (100, 200, 300 )
Tuple3 = Tuple1 + Tuple2
print (Tuple3)
OUTPUT – (“string001”, “string002”, “string003”, “string004”, 100, 200, 300)
```


You can also use the “tuple ( )” constructor to create a Tuple, as shown
in the example below:

In [ ]:
Tuple1 = tuple ((“string001”, “string002”, “string003”, “string004”))
print (Tuple1)

> Excecise

1. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and display the item at -3 position.
2. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and display items ranging from -2 to -4.
3. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and change its item from “cookies” to “tart” usingList function.
4. Create a Tuple “X” with string data values as “pies, cake,
cookies” and another Tuple “Y” with numeric data values as (2, 12, 22),
then join them together.

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
print (X [-3])
#OUTPUT – (“bread”)

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
print (X [-4 : -2])
#OUTPUT – (“cake”, “bread”)

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
Y = list (X)
Y [4] = “tart”
X = tuple (Y)
print (X)
#OUTPUT – (“pies”, “cake”, “bread”, “scone”, “tart”)

In [ ]:
X = (“pies”, “cake”, “cookies”)
Y = (2, 12, 22)
Z = X + Y
print (Z )
#OUTPUT – (“pies”, “cake”, “cookies”, 2, 12, 22)

##Python Sets
In Python, Sets are collections of data types that cannot be organized and indexed. Sets do not allow for duplicate items and must be written withincurly brackets, as shown in the syntax below:


```
set = {“string1”, “string2”, “string3”}
print (set)
```


Unlike the Python List and Tuple, you cannot selectively display desired items from a Set by referencing the position of that item because the Python Set are not arranged in any order. Therefore, items do not have any indexing. However, the “for” loop can be used on Sets (more on this topic later in this chapter).
Unlike Python Lists, you cannot directly change the data values of Python Sets after they have been created. However, you can use the “add()” method to add a single item to Set and use the “update ( )” method to one or more items to an already existing Set. Let’s look at the example below

In [ ]:
et = {“string1”, “string2”, “string3” }
set. add (“newstring”)
print (set)
#OUTPUT – {“string1”, “string2”, “string3”, “newstring”}
set = {“string1”, “string2”, “string3”}
set. update ([“newstring1”, “newstring2”, “newstring3”,)
print (set)
#OUTPUT – {“string1”, “string2”, “string3”, “newstring1”, “newstring2”,
“newstring3”}

You can also determine the length of a Python Set using the “len()” function, as shown in the example below:

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5”, “string6”,
“string7”}
print (len(set))
#OUTPUT – 7

To selectively delete a specific item from a Set , the “remove ()”method can be used as shown in the code below:

In [ ]:

set = {“string1”, “string2”, “string3”, “string4”, “string5”}
set. remove (“string4”)
print (set)
OUTPUT – {“string1”, “string2”, “string3”, “string5” }

You can also use the “discard ( )” method to delete specific items from a
Set, as shown in the example below:
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
set. discard (“string3”)
print (set)
OUTPUT – {“string1”, “string2”, “string4”, “string5” }
The “pop ( )” method can be used to selectively delete only the last item
of a Set. It must be noted here that since the Python Sets are unordered, any
item that the system deems as the last item will be removed. As a result, the
output of this method will be the item that has been removed .
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
A = set.pop ( )
print (A)
print (set)
OUTPUT –
String2
{“string1”, “string3”, “string4”, “string5” }
To delete the entire Set, the “del” keyword can be used, as shown below.
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
delete set
print (set)
OUTPUT – name ‘set’ is not defined
To delete all the items from the Set without deleting the variable itself,
the “clear ()” method can be used, as shown below:
set = {“string1”, “string2”, “string3”, “string4”, “string5” }
set.clear ( )
print (set)
OUTPUT – set ( )

You can join multiple Sets with the use of the “union ( )” method. The
output of this method will be a new set that contains all items from both the
sets. You can also use the “update ( )” method to insert all the items from
one set into another without creating a new Set.Set1 = {“string1”, “string2”, “string3”, “string4”, “string5”}
Set2 = {15, 25, 35, 45, 55}
Set3 = Set1.union (Set2)
print (Set3)
OUTPUT – {“string1”, 15, “string2”, 25, “string3”, 35, “string4”, 45,
“string5”, 55}
Set1 = {“string1”, “string2”, “string3”, “string4”, “string5”}
Set2 = {15, 25, 35, 45, 55}
Set1.update (Set2)
print (Set1 )
OUTPUT – {25, “string1”, 15, “string4”,55, “string2”, 35, “string3”,
45, “string5”}
You can also use the “set ( )” constructor to create a Set, as shown in the
example below:
Set1 = set ((“string1”, “string2”, “string3”, “string4”, “string5”))
print (Set1)
OUTPUT – {“string3”, “string5”, “string2”, “string4”, “string1”}

> Excercise
Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to this Set.

Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to
this Set.

Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to
this Set.

In [ ]:
Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg.update ([ “tart”, “custard”, “waffles”])
print (Veg )
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “bread”, “waffles”,
“cookies”, “tart”}


Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg.update ([ “tart”, “custard”, “waffles”])
print (Veg )
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “bread”, “waffles”,
“cookies”, “tart”}

Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg2 = {“ tart”, “eggos”, “custard”, “waffles”}
AllVeg = Veg.union (Veg2) #this Set name may vary as it has
not been defined in the exercise
print (AllVeg)
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “eggos”, “bread”,
“waffles”, “cookies”, “tart”}