#intro
Python is a high-level programming language, commonly used for
general purposes. It was originally developed by Guido van Rossum at the
"Center Wiskunde & Informatica (CWI), Netherlands”, in the 1980s and
introduced by the “Python Software Foundation” in 1991. It was designed
primarily to emphasize the readability of programming code, and its syntax
enables programmers to convey ideas using fewer lines of code. Python
programming language increases the speed of operation while allowing for
higher efficiency in creating system integrations. Developers are using
Python for “web development (server-side), software development,
mathematics, system scripting”.

With the introduction of various enhancements such as “list
comprehension” and a “garbage collection system”, which can collect
reference cycles, the Python 2.0 was launched in the last quarter of 2000.
Subsequently, in 2008, Python 3.0 was released as a major version upgrade
with backward compatibility allowing for the Python 2.0 code to be
executed on Python 3.0 without requiring any modifications. Python is
supported by a community of programmers that continually develop and
maintain the “CPython”, which is an open-source reference
implementation. The “Python Software Foundation” is a not for profit
organization that is responsible for managing and directing resources for
developing Python programming as well as “CPython”.

Here are some of the key features of Python that render it as the
language of choice for coding beginners as well as advanced software
programmers alike:

1.**Readability** : Python reads a lot like the
English language, which contributes to its ease of readability.

2.**Learnability** : Python is a high level programming
language and considered easy to learn due to the ability to code
using English language like expressions, which implies it is
simple to comprehend and thereby learn the language.

3.**Operating Systems** : Python is easily accessible and can
be operated across different Operating systems, including
Linux, Unix, Mac, Windows among others. This renders
Python as a versatile and cross-platform language.

4.**Open Source** : Python is "open source”, which means
that the developer community can seamlessly make updates to
the code, which are always available to anyone using Python
for their software programming needs.

5.**Standardized Data Libraries** : Python features a big
standard data library with a variety of useful codes and
functionalities that can be used when writing Python code for
data analysis and development of machine learning models.
(Details on machine learning libraries will be provided later in
this chapter)

6.**Free** : Considering the wide applicability and usage of
Python, it is hard to believe that it continues to be freely
available for easy download and use. This implies that anyone
looking to learn or use Python can simply download and use it
for their applications completely free of charge. Python is
indeed a perfect example of a "FLOSS (Free/Libre Open
Source Software)”, which means one could "freely distribute
copies of this software, read its source code and modify it”.

7.**Supports managing of exceptions** : An "exception" can
be defined as "an event that can occur during program
exception and can disrupt the normal flow of program”. Python
is capable of supporting handling of these "exceptions”,
implying that you could write fewer error-prone codes and test
your code with a variety of cases, which could potentially lead
to an "exception" in the future.

8.**Advanced Features** : Python can also support
"generators and list comprehensions”. ⠀ Storage governance :Python is also able to support "automatic memory
management”, which implies that the storage memory will be
cleared and made available automatically. You are not required
to clear and free up the system memory.

#Python Coding Basic

Indentation – To understand the Python coding structure, you must first
understand the significance of indentation or the number of spaces before
you start typing the code. Unlike other coding languages where
“indentation” is added to enhance the readability of the code, in Python, it is
used to indicate a set of code. For example, look at the code below


```
If 7 > 4:
    print (‘Seven is greater than 4’)
```


There is indentation prior to the second line of code with the print
command. If you skip the indentation and write the code as below, you will
receive an error:


```
If 7 > 4:
print (‘Seven is greater than 4’)
```

The number of spaces can be adjusted but must be at least single-spaced.
For example, you can execute the code below with higher indentation, but
for a specific set of code same number of spaces must be used, or you will
receive an error.


```
If 7 > 4:
              print (‘Seven is greater than 4’)
```


Adding Comments – In Python, you can add comments to the code by
starting the code comment lines with a “#”, as shown in the example below:


```
#Add any relevant comment here
print (‘Planet Earth’ )
```




Comments are also used as a description of the code and not executed by the Python terminal. It is important to remember that if you put a comment at the end of code like the entire code line will be skipped by the Python terminal, as shown in the code below. Comments are extremely useful in case you need to stop the execution when you are testing the code.



```
print (‘Planet Earth’) #Add comments here
```



You can also add multiple lines of comments by starting each code line
with “#”, as shown below:



```
#Add comment here
#Supplement the comment here
#Further add the comment here

print (‘Planet Earth’)
```



##Python Variables
There are certain rules applied to the Python variable names as follows:
1. Variable names can be short as single alphabets or more
descriptive words like height, weight, etc
2. Variable names can only be started with an underscore
character or a letter.
3. Variable names must not start with numbers.
4. Variable names may contain underscores or alphanumeric
characters. No other special characters are allowed.
5. Variable names are case sensitive. For example, ‘height,’
‘Height’ and ‘HEIGHT’ will be accounted as 3 separate
variables.

###Output Variables
In order to retrieve variables as output, the “print” statements are used in
Python. You can use the “+” character to combine text with a variable for
final output, as shown in the example below:

```
‘A = ‘red’
print (‘Apples are’ + A)’
##OUTPUT – ‘Apples are red’
```


A variable can also be combined with another variable using the “+”
character, as shown in the example below

```
‘A = ‘Apples are’
B = ‘red’
AB = A + B
print (AB)’
## OUTPUT – ‘Apples are red’
```

However, when the “+” character is used with numeric values, it retains
its function as a mathematical operator, as shown in the example below:

```
‘A = 20
B = 30
print (A + B)’
## OUTPUT = 5 0
```

You will not be able to combine a string of characters with numbers and
will trigger an error instead, as shown in the example below:
```
A = ‘red’
B = 30
print (A + B)
##OUTPUT – N/A – ERROR
```

In the previous chapter, you learned the basics of Python syntax, the
concept of Python Variables, and Comments that serve as a prerequisite to
the learning of Python programming. In this chapter, we will be looking at
the nuances of how to write efficient and effective Python codes, focusing
on various programming elements such as Booleans, Tuples, Sets,
Dictionaries and much more. So let’s get started.

##Python Numbers
In Python programming, you will be working with 3 different numeric
data types, namely, “int”, “float”, and “complex”. In the previous chapter,
you learned the details of what these data types entail, but below are some
examples to refresh your memory.

####Data Type
#####Int
(Must be a whole number, positive or negative with no
decimals, no length restrictions). Example: 363 or 3.214
#####Float
(Floating point number must be a positive or negative
number with one or more decimals; maybe scientific number an
“e” to specify an exponential power of 10). Example: 29e3
######Complex
(Must be written with a “j” as an imaginary character). Example: 92j

> Excercise
1. Create variable “a” with data value as “3.24”, variable
“b” with data value as “9e3” and variable “c” with data value as “-39j”.

In [ ]:
a = 3.24 # int
b = 9e3 # float
c = -39j # complex
print (type (a) )
print (type (b))
print (type (c))

###Converting one numeric data type to another
As all Python variables are dynamic in nature, you will be able to
convert the data type of these variables if needed by deriving a new variable
from the variable that you would like to assign a new data type.

In [ ]:
a = 3.24 # int
b = 9e3 # float
c = -39j # complex
#conversion from int to float
x = float (a)
#conversion from float to complex
y = complex (b )
#conversion from complex to int
z = float (c)
#conversion from int to complex
x1 = int (a)
print (x)
print (y)
print (z)
print (x1)
print (type (x))
print (type (y))
print (type (z))
print (type (x1))

In [ ]:
#View a random number between 14 and 24 by importing
the random module
import rando m
print (random.randrange (14, 24))

###Variable Casting with Constructor Functions
In the discussion and exercise above, you learned that variables could be
declared by simply assigning desired data value to them, and thereby, the
variables will assume the pertinent data type based on the data value.
However, Python allows you to specify the data types for variables by using
classes or “constructor functions” to define the data type for variables. This
process is called “Casting”.

Here are the 3 constructor functions used for “casting” numeric data type
to a variable.
####Constructor Functions - Data Type
int () - Will construct an integer number from an integer literal, a
string literal (provided the string is representing a whole
number) or a float literal (by rounding down to the preceding
whole number)

float () -  Will construct a float number from a string literal (provided
the string is representing a float or an integer), a float literal or
an integer literal

complex () - Will construct a string from a large number of data types,
such as integer literals, float literals, and strings

In [ ]:
#Here are some examples:
#Integer:
a = int (6) # a takes the value 6
b = int (4.6) # b takes the value 4
c = int (‘7’) # c takes the value 7

#Float:
a = float (6) # a takes the value 6.0
b = float (4.6) # b takes the value 4.6
c = float (‘7’) # c takes the value 7.0

#String:
a = str (‘serial’) # a takes the value ‘serial’
b = str (4.6) # b takes the value ‘4.6’
c = str (‘7’) # c takes the value ‘7.0 ’

##Python Strings
In Python, string data type for a variable is denoted by using single,
double, or triple quotation marks. This implies that you can assign string
data value to variable by quoting the string of characters. For example,
“welcome” is the same as ‘welcome’ and ‘‘‘welcome’’’.

> Excercise
1. Create a variable “v” with a string data value as “outfit is
cyan” and display it.
2. Create a variable “A” with a multiple-line string data
value as “Looking at the sky tonight, thinking of you by my side! Let the world go on and on; it will be alright if I stay strong!” and display it.

In [ ]:
v = ‘outfit is cyan’
print (v)

In [ ]:
a = ‘‘‘Loving another is never easy,
People tell you it won’t be breezy!You make your own decision,
Don’t let the fear stop you from your persuasion! ’’’
print (a)

##String Arrays
In Python, string data values are arrays of bytes that represent Unicode
characters as true for most programming languages. But unlike other
programming languages, Python lacks data type for individual characters,
which are denoted as string data type with length of 1.

The first character of every string is given the position of ‘0’, and
subsequently, the subsequent characters will have the position as 1, 2, 3,
and so on. In order to display desired characters from a string data value,
you can use the position of the character enclosed in square brackets. For
example, if you wanted to display the fifth character of the string data value
“apple” of variable “x”. You will use the command “print (x [4])”

> Excercise
1. Create a variable “P” with a string data value as
“brilliant” and display the fourth character of this string

In [ ]:
P = ‘brilliant’
print (P [4])

##Slicing
If you would like to view a range of characters, you can do so by
specifying the start and the end index of the desired positions and
separating the indexes by a colon. For example, to view characters of a
string from position 1 to position 3, your code will be “print (variable
[1:3])” .

You can even view the characters starting from the end of the string by
using “negative indexes” and start slicing the string from the end of the
string. For example, to view characters of a string from position 4 to
position 1, your code will be “print (variable [-4 : -2])”.

In order to view the length of the string, you can use the “len ()”
function. For example, to view the length of a string, your code will be
“print (len (variable))”

> Excercise
1. Create a variable “P” with a string data value as “strive
for success!” and display characters from position 3 to 6 of this string.
2. Create a variable “x” with a string data value as “coding
is cool” and display characters from position 6 to 1, starting the count from the end of this string. 
3. Create a variable “z” with a string data value as
“programming champ” and display the length of this string .

In [ ]:
P = ‘ strive for success!’
print (P [4 : 7])

In [ ]:
x = ‘ coding is cool’
print (x [-6 : -2])

In [ ]:
z = ‘ programming champ’
print (len (z))

##String Methods
There are various built-in methods in Python that can be applied to string
data values. Here are the Python codes for some of the most frequently used
string methods, using variable “P = ‘roses are red!’” .

In [ ]:
#“strip ()” method – To remove any blank spaces at the start and the end of the string.
P = “ roses are red! ”
print (P.strip ())

In [ ]:
#“lower ()” method – To result in all the characters of a string in lower case.
P = “ROSES are RED!”
print (P.lower ())
OUTPUT – roses are red!

In [ ]:
#“replace ()” method – To replace select characters of a string.
P = “roses are red!”
print (P.replace (“roses”, “apples”))
OUTPUT – apples are red!

In [ ]:
#“split ()” method – To split a string into substrings using comma as the separator .
P = “Roses, Apples”
print (P.split (““,))

##String Concatenation
There might be instances when you need to collate different string
variables. This can be accomplished with the use of the “+” logical
operator. Here’s the syntax for this Python code:

In [ ]:
X = “string1”
Y = “string2”
Z = X + Y
print (Z)

Similarly, below is the syntax to insert a blank space between two
different string variables.

In [ ]:
X = “string1”
Y = “string2”
Z = X + “ ” + Y
print (Z )

However, Python does not permit the concatenation of string variables
with numeric variables. But can be accomplished with the use of the
“format ()” method, which will format the executed arguments and placethem in the string where the placeholders “{ }” are used. Here’s the syntax
for this Python code:

In [ ]:
X = numeric
Y = “String”
print (Y. format (X))

> Excercise

In [ ]:
#Create two variables “A” and “B” with string data values
#as “Let’s have” and “some pizza!” and display them as a concatenated string.
A = “Let’s have”
B = “some pizza!”
C = A + B
print (C )

In [ ]:
#Create two variables “A” with string data values as “her
#lucky number is” and “B” with numeric data value as “18” and display
#them as a concatenated string

A = “her lucky number is”
B = “18”
print (A. format (B))

##Python Booleans
In the process of developing a software program, there is often a need to
confirm and verify whether an expression is true or false. This is where
Python Boolean data type and data values are used. In Python, comparison
and evaluation of two data values will result in one of the two Boolean
values: “True” or “False”.

Here are some examples of comparison statement of numeric data
leading to Boolean value:

In [ ]:
print (100 > 90)
#OUTPUT – True
print (100 == 90)
#OUTPUT – False
print (100 < 90)
#OUTPUT – False

Let’s look at the “bool ()” function now, which allows for the evaluation
of numeric data as well as string data resulting in “True” or “False”
Boolean values.

In [ ]:
print (bool (99) )
#OUTPUT - True
print (bool (“Welcome”))
#OUTPUT - True

Here are some key points to remember for Booleans:

1. If a statement has some kind of content, it would be evaluated as “True”.
2. All string data values will be resulting as “True” unless the string is empty.
3. All numeric values will be resulting as “True” except “0”
4. Lists, Tuples, Set, and Dictionaries will be resulting as “True” unless they are empty.
5. Mostly empty values like (), [], {}, “”, False, None and 0 will be resulting as “False”.
6. Any object created with the “_len_” function that result in the data value as “0” or “False” will be evaluated as “False”.

In Python there are various built-in functions function that can be evaluated as Boolean, for example, the “isinstance()” function, which allows you to determine the data type of an object. Therefore, in order to check if an object is integer, the code will be as below:

In [ ]:
X = 123
print (isinstance (X, int))

> Excersie
1. Create two variables “X” with string data values as “Just
do it!” and “Y” with numeric data value as “3.24” and evaluate them.

In [ ]:
X = “Just do it!”
Y = 3.24
print (bool (X))
print (bool (Y)

##Python Lists
In Python, lists are collections of data types that can be changed,
organized, and include duplicate values. Lists are written within square
brackets, as shown in the syntax below.

In [ ]:
X = [“string001”, “string002”, “string003”]
print (X)

The same concept of position applies to Lists as the string data type,
which dictates that the first string is considered to be at position 0.
Subsequently, the strings that will follow are given positions 1, 2, and so on.
You can selectively display desired string from a List by referencing the
position of that string inside square bracket in the print command, as shown
below.

In [ ]:
X = [“string001”, “string002”, “string003”]
print (X [2]) #OUTPUT – [string003]

In [ ]:
#Similarly, the concept of negative indexing is also applied to Python List.
X = [“string001”, “string002”, “string003”]
print (X [-2]) #OUTPUT – [string002]

You will also be able to specify a **range of indexes** by indicating the
start and end of a range. The result in values of such command on a Python
List would be a new List containing only the indicated items. Here is an
example for your reference

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
print (X [2 : 4]) #OUTPUT – [“string003”, “string004”]

#* Remember the first item is at position 0, and the final position of the range (4) is not included.

In [ ]:
#Now, if you do not indicate the start of this range, it will default to the position 0 as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
print (X [ : 3] )
#OUTPUT – [“string001”, “string002”, “string003”]

In [ ]:
#Similarly, if you do not indicate the end of this range it will display all
#the items of the List from the indicated start range to the end of the List, as
#shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (X [3 : ])
#OUTPUT – [“string004”, “string005”, “string006”]

You can also specify a **range of negative indexes** to Python Lists, as
shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (X [-3 : -1]) #OUTPUT – [“string004”, “string005” ]
#* Remember the last item is at position -1, and the final position of this range (-1) is not included in the Output.

There might be instances when you need to **change the data value** for a
Python List. This can be accomplished by referring to the index number of
that item and declaring the new value. Let’s look at the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,“string006”]
X [3] = “newstring”
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “newstring”,
#“string005”, “string006”]

You can also determine the **length** of a Python List using the “len()”
function, as shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
print (len (X) )

Python Lists can also be changed by **adding new items** to an existing
list using the built-in “append ()” method, as shown in the example below:

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
X.append (“newstring”)
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, “newstring”]

In [ ]:
#You can also, add a new item to an existing Python List at a specific
#position using the built-in “insert ()” method, as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”]
X.insert (2, “newstring”)
print (X)
#OUTPUT – [“string001”, “string002”, “newstring”, “string004”]

In [ ]:
#There might be instances when you need to copy an existing Python
#List. This can be accomplished by using the built-in “copy ( )” method or
#the “list ( )” method, as shown in the example below:
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
Y = X.copy( )
print (Y)
# Y sama dengan x

In [ ]:
#alternatif
X = [“string001”, “string002”, “string003”, “string004”, “string005”,
“string006”]
Y = list (X)
print (Y)

> There are multiple built-in methods to **delete** items from a Python List

In [ ]:
#> To selectively delete a specific item, the “remove ()” method can be used.
X = [“string001”, “string002”, “string003”, “string004” ]
X.remove (“string002”)
print (X)

In [ ]:
#> To delete a specific item from the List, the “pop ()” method
#can be used with the position of the value. If no index has been
#indicated, the last item of the index will be removed.
X = [“string001”, “string002”, “string003”, “string004”]
X.pop ( )
print (X)

In [ ]:
#> To delete a specific index from the List, the “del ()” method
#can be used, followed by the index within square brackets.
X = [“string001”, “string002”, “string003”, “string004”]
del X [2]
print (X)

In [ ]:
#> To delete the entire List variable, the “del ()” method can be used, as shown below.
X = [“string001”, “string002”, “string003”, “string004”]
del X

In [ ]:
#> To delete all the string values from the List without deleting
#the variable itself, the “clear ()” method can be used, as shown below.
X = [“string001”, “string002”, “string003”, “string004”]
X.clear()
print (X)

##Concatenation of Lists
You can join multiple lists with the use of the “+” logical operator or by
adding all the items from one list to another using the “append ( )” method.
The “extend ( )” method can be used to add a list at the end of another list.
Let’s look at the examples below to understand these commands .

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
Y = [10, 20, 30, 40]
Z = X + Y
print (Z)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, 10, 20,30, 40]

In [ ]:
X = [“string001”, “string002”, “string003”, “string004”]
Y = [10, 20, 30, 40]
For x in Y:
X.append (x)
print (X)
#OUTPUT – [“string001”, “string002”, “string003”, “string004”, 10, 20, 30, 40]

In [ ]:
X = [“string001”, “string002”, “string003”]
Y = [10, 20, 30]X.extend (Y)
print (X )
#OUTPUT – [“string001”, “string002”, “string003”, 10, 20, 30]

> Excercise
1.   Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and display the item at -2 position.
2.   Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and display the items ranging from the string on the second position to the end of the string.
3. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and replace the string “olive” to “teal”.
4. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and copy the list “A” to create list “B”.
5. Create a list “A” with string data values as “red, olive,
cyan, lilac, mustard” and delete the strings “red” and “lilac”

In [ ]:
A = [“ red”, “olive”, “cyan”, “lilac”, “mustard”]
print (A [-2])

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
print (A [2 : ])

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
A [1] = [“teal”]
print (A)

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
B = A.copy ( )
print (B)

In [ ]:
A = [“red”, “olive”, “cyan”, “lilac”, “mustard”]
del.A [0, 2]
print (A)

##Python Tuples
In Python, Tuples are collections of data types that cannot be changedbut can be arranged in specific order. Tuples allow for duplicate items andare written within round brackets, as shown in the syntax below.

```
Tuple = (“string001”, “string002”, “string003”)
print (Tuple)
```
Similar to the Python List, you can selectively display the desired string
from a Tuple by referencing the position of that string inside square bracket
in the print command as shown below.

In [ ]:
Tuple = (“string001”, “string002”, “string003”)
print (Tuple [1])
#OUTPUT – (“string002”)

The concept of **negative indexing** can also be applied to Python Tuple, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”)
print (Tuple [-2] )
#OUTPUT – (“string004”)

You will also be able to specify a **range of indexes** by indicating the start and end of a range. The result in values of such command on a Python Tuple would be a new Tuple containing only the indicated items, as shown
in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (Tuple [1:5])
#OUTPUT – (“string002”, “string003”, “string004”, “string005”)
#* Remember the first item is at position 0 and the final position of the range,
# which is the fifth position in this example, is not included.

You can also specify a **range of negative indexes** to Python Tuples, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (Tuple [-4: -2])
#OUTPUT – (“string004”, “string005” )
#* Remember the last item is at position -1 and the final position of this range,
# which is the negative fourth position in this example is not included in the Output

Unlike Python lists, you **cannot directly change the data value** of Python Tuples after they have been created. However, conversion of a Tuple into a List and then modifying the data value of that List will allow you to subsequently create a Tuple from that updated List. Let’s look at theexample below:

In [ ]:
Tuple1 = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
List1 = list (Tuple1)
List1 [2] = “update this list to create new tuple”
Tuple1 = tuple (List1)
print (Tuple1)

#OUTPUT – (“string001”, “string002”, “update this list to create new
#tuple”, “string004”, “string005”, “string006” )

You can also determine the **length** of a Python Tuple using the “len()” function, as shown in the example below:

In [ ]:
Tuple = (“string001”, “string002”, “string003”, “string004”,
“string005”, “string006”)
print (len (Tuple))
#OUTPUT – 6

You cannot selectively delete items from a Tuple, but you can use the “del” keyword to **delete the Tuple** in its entirety, as shown in the example below:


```
Tuple = (“string001”, “string002”, “string003”, “string004”)
del Tuple
print (Tuple)
OUTPUT – name ‘Tuple’ is not defined
```
You can **join multiple Tuples** with the use of the “+” logical operator.


```
Tuple1 = (“string001”, “string002”, “string003”, “string004”)
Tuple2 = (100, 200, 300 )
Tuple3 = Tuple1 + Tuple2
print (Tuple3)
OUTPUT – (“string001”, “string002”, “string003”, “string004”, 100, 200, 300)
```


You can also use the “tuple ( )” constructor to create a Tuple, as shown
in the example below:

In [ ]:
Tuple1 = tuple ((“string001”, “string002”, “string003”, “string004”))
print (Tuple1)

> Excecise

1. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and display the item at -3 position.
2. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and display items ranging from -2 to -4.
3. Create a Tuple “X” with string data values as “pies, cake,
bread, scone, cookies” and change its item from “cookies” to “tart” usingList function.
4. Create a Tuple “X” with string data values as “pies, cake,
cookies” and another Tuple “Y” with numeric data values as (2, 12, 22),
then join them together.

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
print (X [-3])
#OUTPUT – (“bread”)

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
print (X [-4 : -2])
#OUTPUT – (“cake”, “bread”)

In [ ]:
X = (“pies”, “cake”, “bread”, “scone”, “cookies”)
Y = list (X)
Y [4] = “tart”
X = tuple (Y)
print (X)
#OUTPUT – (“pies”, “cake”, “bread”, “scone”, “tart”)

In [ ]:
X = (“pies”, “cake”, “cookies”)
Y = (2, 12, 22)
Z = X + Y
print (Z )
#OUTPUT – (“pies”, “cake”, “cookies”, 2, 12, 22)

##Python Sets
In Python, Sets are collections of data types that cannot be organized and indexed. Sets do not allow for duplicate items and must be written withincurly brackets, as shown in the syntax below:


```
set = {“string1”, “string2”, “string3”}
print (set)
```


Unlike the Python List and Tuple, you cannot selectively display desired items from a Set by referencing the position of that item because the Python Set are not arranged in any order. Therefore, items do not have any indexing. However, the “for” loop can be used on Sets (more on this topic later in this chapter).
Unlike Python Lists, you cannot directly change the data values of Python Sets after they have been created. However, you can use the “add()” method to add a single item to Set and use the “update ( )” method to one or more items to an already existing Set. Let’s look at the example below

In [ ]:
set = {“string1”, “string2”, “string3” }
set. add (“newstring”)
print (set)
#OUTPUT – {“string1”, “string2”, “string3”, “newstring”}
set = {“string1”, “string2”, “string3”}
set. update ([“newstring1”, “newstring2”, “newstring3”,)
print (set)
#OUTPUT – {“string1”, “string2”, “string3”, “newstring1”, “newstring2”,
“newstring3”}

You can also determine the **length** of a Python Set using the “len()” function, as shown in the example below:

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5”, “string6”,
“string7”}
print (len(set))
#OUTPUT – 7

To selectively **delete a specific item from a Set** , the “remove ()”method can be used as shown in the code below:

In [ ]:

set = {“string1”, “string2”, “string3”, “string4”, “string5”}
set. remove (“string4”)
print (set)
OUTPUT – {“string1”, “string2”, “string3”, “string5” }

You can also use the “discard ( )” method to delete specific items from aSet, as shown in the example below:

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
set. discard (“string3”)
print (set)
#OUTPUT – {“string1”, “string2”, “string4”, “string5” }

The “pop ( )” method can be used to selectively delete only the last item of a Set. It must be noted here that since the Python Sets are unordered, any item that the system deems as the last item will be removed. As a result, the output of this method will be the item that has been removed .

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
A = set.pop ( )
print (A)
print (set)
#OUTPUT –String2{“string1”, “string3”, “string4”, “string5” }

To delete the entire Set, the “del” keyword can be used, as shown below.

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5”}
delete set
print (set)
#OUTPUT – name ‘set’ is not defined

To delete all the items from the Set without deleting the variable itself,
the “clear ()” method can be used, as shown below:

In [ ]:
set = {“string1”, “string2”, “string3”, “string4”, “string5” }
set.clear ( )
print (set)
#OUTPUT – set ( )

You can join multiple Sets with the use of the “union ( )” method. The output of this method will be a new set that contains all items from both the sets. You can also use the “update ( )” method to insert all the items from one set into another without creating a new Set.

In [ ]:
Set1 = {“string1”, “string2”, “string3”, “string4”, “string5”}
Set2 = {15, 25, 35, 45, 55}
Set3 = Set1.union (Set2)
print (Set3)
#OUTPUT – {“string1”, 15, “string2”, 25, “string3”, 35, “string4”, 45, “string5”, 55}

In [ ]:
Set1 = {“string1”, “string2”, “string3”, “string4”, “string5”}
Set2 = {15, 25, 35, 45, 55}
Set1.update (Set2)
print (Set1 )
#OUTPUT – {25, “string1”, 15, “string4”,55, “string2”, 35, “string3”, 45, “string5”}

In [ ]:
#You can also use the “set ( )” constructor to create a Set, as shown in the example below:
Set1 = set ((“string1”, “string2”, “string3”, “string4”, “string5”))
print (Set1)
#OUTPUT – {“string3”, “string5”, “string2”, “string4”, “string1”}

> Excercise
1. Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to this Set.
2. Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to
this Set.
3. Create a Set “Veg” with string data values as “pies, cake,
bread, scone, cookies” and add new items “tart”, “custard” and “waffles” to
this Set.

In [ ]:
Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg.update ([ “tart”, “custard”, “waffles”])
print (Veg )
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “bread”, “waffles”,
“cookies”, “tart”}

In [ ]:
Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg.update ([ “tart”, “custard”, “waffles”])
print (Veg )
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “bread”, “waffles”,
“cookies”, “tart”}

In [ ]:
Veg = {“pies”, “cake”, “bread”, “scone”, “cookies”}
Veg2 = {“ tart”, “eggos”, “custard”, “waffles”}
AllVeg = Veg.union (Veg2) #this Set name may vary as it has
not been defined in the exercise
print (AllVeg)
OUTPUT – {“pies”, “custard”, “scone”, “cake”, “eggos”, “bread”,
“waffles”, “cookies”, “tart”}

##Python Dictionary
In Python, Dictionaries are collections of data types that can be changed
and indexed but are not arranged in any order. Each item in a PythonDictionary will comprise a key and its value. Dictionaries do not allow for
duplicate items and must be written within curly brackets, as shown in the
syntax below:


```
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
print (dict)
```

You can selectively display desired item value from a Dictionary by
referencing its key inside square brackets in the print command as shown
below:


```
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
X = dict [“key02”]
print (X)
## OUTPUT – value0 2
```



You can also use the “get ( )” method to view the value of a key, as
shown in the example below:


```
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
X = dict.get (“key01”)
print (X)
##OUTPUT – value01
```

There might be instances when you need to **change the value** of a key in
a Python Dictionary. This can be accomplished by referring to the key ofthat item and declaring the new value. Let’s look at the example below:

In [ ]:
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
dict [“key03”] = “NEWvalue”
print (dict )
#OUTPUT – {“key01”: “value01”, “key02”: “value02”, “key03”:“NEWvalue”}

You can also determine the **length** of a Python Dictionary using the

In [ ]:
“len()” function, as shown in the example below:
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
“key04”: “value04”,
“key05”: “value05”
}
print (len (dict))
#OUTPUT – 5

Python Dictionary can also be changed by **adding** new index key and
**assigning** a new value to that key, as shown in the example below:

In [ ]:
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
dict [“NEWkey”] = “NEWvalue”
print (dict)
#OUTPUT – {“key01”: “value01”, “key02”: “value02”, “key03”:“value03”, “NEWkey”: “NEWvalue”}

> There are multiple built-in methods to **delete items** from a Python
Dictionary.

In [ ]:
#● To selectively delete a specific item value, the “pop ()”
#method can be used with the indicated key name.
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
dict.pop (“key01”)
print (dict )
#OUTPUT – { “key02”: “value02”, “key03”: “value03”}

In [ ]:
#● To selectively delete the item value that was last inserted, the
#“popitem ()” method can be used with the indicated key name.
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
dict.popitem ( )
print (dict)
#OUTPUT – { “key01”: “value01”, “key02”: “value02”}

In [ ]:
#● To selectively delete a specific item value, the “del”
#keyword can also be used with the indicated key name.
dict = {
“key01”: “value01” ,
“key02”: “value02”,
“key03”: “value03”,}
del dict (“key03”)
print (dict)
#OUTPUT – { “key01”: “value01”, “key02”: “value02”}

In [ ]:
#● To delete a Python Dictionary in its entirety, the “del”
#keyword can also be used as shown in the example below:
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
del dict
print (dict)
#OUTPUT – name ‘dict’ is not defined

In [ ]:
#● To delete all the items from the Dictionary without deleting
#the Dictionary itself, the “clear ()” method can be used as shown below :
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
dict.clear ( )
print (dict)
OUTPUT – { }

There might be instances when you need to copy an existing Python
Dictionary. This can be accomplished by using the built-in “copy ( )”
method or the “dict ( )” method, as shown in the examples below:

In [ ]:
dict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,}
newdict = dict.copy ( )
print (newdict)
#OUTPUT – {“key01”: “value01”, “key02”: “value02”, “key03”: “value03” }

In [ ]:
Olddict = {
“key01”: “value01”,
“key02”: “value02”,
“key03”: “value03”,
}
newdict = dict (Olddict )
print (newdict)
#OUTPUT – {“key01”: “value01”, “key02”: “value02”, “key03”:“value03”}

There is a unique feature that supports multiple Python Dictionaries to
be **nested** within another Python Dictionary. You can either create a
Dictionary containing child Dictionaries, as shown in the example below:

In [ ]:
WendysFamilyDict = {
“burger1” : {
“name” : “Hamburger”,
“price” : 2.99
},
“burger2” : {
“name” : “Cheeseburger”,
“price” : 5
} ,
“burger3” : {
“name” : “Bigburger”,
“price” : 1.99
}}
print (WendysFamilyDict)
#OUTPUT - {“burger1” : { “name” : “Hamburger”, “price” : 2.99},
#“burger2” : {“name” : “Cheeseburger”, “price” : 5}, “burger3” : {“name” :“Bigburger”, “price” : 1.99}}

Or you can create a brand new Dictionary that contain other Dictionaries
already existing on the system; your code will look like the one below:

In [ ]:
burgerDict1 : {
“name” : “Hamburger”,
“price” : 2.99
}
burgerDict2 : {
“name” : “Cheeseburger”,
“price” : 5
}
burgerDict3 : {
“name” : “Bigburger”,
“price” : 1.99
} W
endysFamilyDict = {
“burgerDict1” : burgerDict1,
“burgerDict2” : burgerDict2
“burgerDict3” : burgerDict3
}
print (WendysFamilyDict)
#OUTPUT - {“burger1” : { “name” : “Hamburger”, “price” : 2.99},
#“burger2” : {“name” : “Cheeseburger”, “price” : 5}, “burger3” : {“name” :
#“Bigburger”, “price” : 1.99}}

Lastly, you can use the “dict ( )” function to create a new Python
Dictionary. The key differences when you create items for the Dictionary
using this function are 1. Round brackets are used instead of the curly
brackets. 2. Equal to sign is used instead of the semi-colon. Let’s look at the
example below :

In [ ]:
DictwithFunction = dict (key01 = “value01”, key02 = “value02”, key03
= “value03”)
print (DictwithFunction)
#OUTPUT – {“key01”: “value01”, “key02”: “value02”, “key03”: “value03”}

> Excercise
1. Create a Dictionary “Hortons” with items containing keys
as “type”, “size” and “price” with corresponding values as “cappuccino”,
“grande” and “4.99”. Then add a new item with key as “syrup” and value as
“hazelnut”.
2. Create a Dictionary “Hortons” with items containing keys
as “type”, “size”, and “price” with corresponding values as “cappuccino”,
“grande” and “4.99”. Then use a function to remove the last added item.
3. Create a Dictionary “Hortons” with nested dictionary as
listed below :(Dictionary Name, Key Value)
=(Coffee01, name cappuccino
& size venti)
(Coffee02, name frappe
& size grande)
(Coffee03, name macchiato
& size small)
4. Use the “dict ()” function to create a Dictionary
“Hortons” with items containing keys as “type”, “size” and “price” with
corresponding values as “cappuccino”, “grande” and “4.99”

In [ ]:
Hortons = {
“type” : “cappuccino”,
“size” : “grande”,
“price” : 4.99
}
Hortons [“syrup”] = “hazelnut”
print (Hortons )
OUTPUT – {“type” : “cappuccino”, “size” : “grande”, “price” : 4.99,
“syrup” : “hazelnut”}

In [ ]:
Hortons = {
“type” : “cappuccino”,
“size” : “grande”,
“price” : 4.99
}
Hortons.popitem ( )
print (Hortons)
#OUTPUT – {“type” : “cappuccino”, “size” : “grande”}

In [ ]:
Hortons = {
“coffee01” : {
“name” : “cappuccino”,
“size” : “venti”
},
“coffee02” : {
“name” : “frappe”,
“size” : “grande”
},
“coffee03” : {
“name” : “macchiato”,
“size” : “small”
}}
print (Hortons)
#OUTPUT - {“coffee01” : { “name” : “cappuccino”, “size” : “venti”},
#“coffee02” : {“name” : “frappe”, “size” : “grande”}, “coffee03” : {“name” :
#“macchiato”, “size” : “small”}}

In [ ]:
Hortons = dict (type = “cappuccino”, size = “grande”, price = 4.99}
print (Hortons)
#OUTPUT – {“type” : “cappuccino”, “size” : “grande”, “price” : 4.99,“syrup” : “hazelnut”}

#Advance Python Concepts


##Python Conditions and If statement
Python allows the usage of multiple mathematical, logical conditions as listed below:


*   Equal to – “a == y”
* Not equal – “a !=y”
* Less than – “a < y”
* Less than, equal to – “a <= y”
* Greater than – “a > y”
* Greater than, equal to – “a >=y”

###If Statement
All these conditions can be used within loops and “if statement” . The “if” keyword must be used to write these statements, as shown in the syntax below:

In [ ]:
X = numeric1
Y = numeric2
if X > Y:
print (“X is greater than Y”)

The most important thing to remember here is that the indentation or the blank space at the beginning of a line in the code above is critical. Unlike other programming languages that use curly brackets, Python programming is driven by indentation in the process of defining the scope of the code.
Therefore, writing the Python code below will result in an error.

In [ ]:
X = numeric1
Y = numeric2
if X > Y:
print (“X is greater than Y”) #leads to an error

###Else-if Statement
You can use the “elif” keyword to evaluate if the preceding condition is not true, then execute the subsequent condition. Here is the syntax followed by an example to help you understand this concept further:

In [ ]:
X = numeric1
Y = numeric2
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)

Example :

In [ ]:
X = 58
Y = 58
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)
#OUTPUT - X and Y are equal

###Else Statement
You can use the “else” keyword to execute any condition if the preceding conditions are not true. Here is the syntax followed by an example to help you understand this concept further:

In [ ]:
X = numeric1
Y = numeric2
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)
else:
print (“Y is greater than X”)

Example :

In [ ]:
X = 58
Y = 59
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)else:
print (“Y is greater than X”)
#OUTPUT - Y is greater than X

###Else Statement
You can use the “else” keyword to execute any condition if the preceding
conditions are not true. Here is the syntax followed by an example to help
you understand this concept further:

In [ ]:
X = numeric1
Y = numeric2
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)
else:
print (“Y is greater than X”)

Example :

In [ ]:
X = 58
Y = 59
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)else:
print (“Y is greater than X”)
OUTPUT - Y is greater than X

In [ ]:
#Alternatively, you can use the “else” keyword without using the “elif”
#keyword, as shown in the example below:
X = 69
Y = 96
if X > Y:
print (“X is greater than Y”)
else:
print (“X is not greater than Y”)
OUTPUT - X is not greater than Y

**Single Line If Statement**

You could even execute single line statements with “If” clause, as shown
in the syntax below:


```
If x > y: print (“y is greater than x”)
```

**Single Line If-Else Statement**

You could even execute single line statements with “If - Else” clause, as
shown in the syntax below:


```
x = 10
y = 15
print (“x”) If x > y else print (“y”)
```


**Single Line If-Else Statement with multiple Else**
You will also be able to execute single line statements with “If - Else”
clause containing multiple “Else” statements in the same line, as shown in
the syntax below:


```
x = 100
y = 100
print (“x”) If x > y else print (“=”) if a == b else print (“y” )
```

**“And” Keyword**

If you are looking to combine multiple conditional statements, you can
do so with the use of the “and” keyword, as shown in the example below:


```
x = 20
y = 18
z = 35
if x > y and z > x :
print (“All conditions are True”)
```

**“Or” Keyword**
If you are looking to combine multiple conditional statements, the other
way you can do so is with the use of the “or” keyword, as shown in the
example below:


```
x = 20
y = 18
z = 35
if x > y or x > z :
print (“At least one of the conditions is True”)
```


**“Nested If” Statements**

You can have multiple “if” statements within an “if” statement, as shown
in the example below:
```
x = 11 0
if x > 50:
print (“Greater than 50, “)
if x > 90:
print (“and greater than 100”)
else:
print (“Not greater than 100”)
```

**“Pass” statements**

In Python, if you ever need to execute “if” statements without any
content, you must incorporate a “pass” statement to avoid triggering any
error. Here is an example to further your understanding of this concept.
```
x = 20
y = 55
if y > x
 pass
```

> Excercise
1. Write the code to check if X = 69 is greater than Y = 79,
the output should read “ X is greater than Y”. If the first condition is not
true, then check if X is equal to Y, the output should read “X and Y are
equal” otherwise the output should read “Y is greater than X” .
2. Write the code to check if x = 69 is greater ‘50’, the
output should read “Greater than 50”. Then check if x is greater than ‘60’,
the output should read “And greater than 60”, otherwise the output should
read “Not greater than 60”.
3. Write the code to check if x = 9 is greater than y = 19 as
well as if z = 25 is greater than x. The output should read if one or both the
conditions are true.
4. Write the code to check if x = 45 is less than y = 459 or z
= 1459 is less than x. The output should read if one or both the conditions
are true.

In [ ]:
X = 69
Y = 79
if X > Y:
print (“X is greater than Y”)
elif X == Y:
print (“X and Y are equal”)
else:
print (“Y is greater than X”)
#OUTPUT – “Y is greater than X"

In [ ]:
x = 69
if x > 50:
print (“Greater than 50”)
if x > 60:
print (“And greater than 60”)
else:
print (“Not greater than 60”)
#OUTPUT –“Greater than 50”
#“And greater than 60”

In [ ]:
x = 9
y = 1 9
z = 25
if x > y and z > x :
print (“Both the conditions are True”)
#OUTPUT – “Both the conditions are True

In [ ]:
x = 45
y = 459
z = 1459
if x < y and z < x :
print (“At least one of the conditions is True”)
#OUTPUT – “At least one of the conditions is True

###Python “While” 
LoopPython allows the usage of one of its standard loop commands i.e.
“while” loop for execution of a block of statements, given that the initial
condition holds true.

Here is the syntax for “while” loop statements:


```
p = num1
while p < num2:
print (p)
p += 1
```

In the syntax above, to prevent the loop from continuing with no end, the
variable (p) was limited by setting to an increment. It is a pre-requisite for
the “while” loop to index the variable in the statement

**“break” statements**.
These statements allow exiting from the “while” loop, even if the set
condition holds true. In the example below, the variable will exit the loop
when it reaches 4:

In [ ]:
p = 2
while p < 7:
print (p)
if p == 4
break
p += 2
#OUTPUT –
#2 3 4

**“continue” statements**.
These statements allow the system to stop the execution of the current
condition and move to the next iteration of the loop. In the example below,
system will continue the execution of the subsequent command if the
variable equals 2:

In [ ]:
p = 1
while p < 5:
p += 1
if p == 2:continue
print (p)
#OUTPUT –
#1 3 4 5
#(Note - The number 2 is missing from the result above)

**“else” statement**.
The “else” statement allows you to execute a set of code after the
“while” condition doesn’t hold true any longer. The output in the example
below will include a statement that the initial condition is no longer true:

In [ ]:
p = 1
while p < 5:
print (p)
p += 1
else:
print (“p is no longer less than 5”)
#OUTPUT –
#1 2 3 4
#p is no longer less than 5

>Excercise
1. Write the code to print a series of number if x = 1 is
smaller than 7.
2. Write the code to print a series of number if x = 1 is
smaller than 6 and exit the loop when x is 3.
3. Write the code to print a series of number if x = 1 is
smaller than 6 and continue to execute the initial condition if x is 3 in a new iteration.
4. Write the code to print a series of number if x = 1 is
smaller than 4. Once this condition turns false, print “x is no longer less
than 4”.

In [ ]:
x = 1
while x < 7:
print (x)x += 1
#OUTPUT –
#1 2 3 4 5 6

In [ ]:
x = 1
while x < 6:
print (x)
if x == 3
break
x += 1
#OUTPUT –
#1 2 3

In [ ]:
x = 1
while x < 6:x += 1
if x == 3:
continue
print (x)
#OUTPUT –
#1 2 4 5 6
#(Note – The number 3 is missing, but the initial condition is executed in
#a new iteration.)

In [ ]:
x = 1
while x < 4:
print (x)
x = 1
else:
print (“x is no longer less than 4”)
#OUTPUT –
#123
#x is no longer less than 4

Python “For” Loop
Another one of the Python standard loops is “for” loop, which is used to
execute iterations over a series such as string, tuple, set, dictionary, list. The“for” keyword in Python functions like an iterator found in object-oriented
programming languages. It allows the execution of a block of statements
once for every single item of tuple, set, list, and other series.
Let’s look at the example below :


```
veg = [“tart”, “scone”, “cookies”]
for X in veg:
print (X)
OUTPUT –
tart
scone
cookies
```


You will notice that in the code above that the variable was not defined.
The “for” loop can be executed without setting an index for the variable in
the code.

###Loops for String
Python strings constitute a series of characters are iterative in nature. So
if you wanted to loop through characters of a string, you could simply use
the “for” loop as shown in the example below:

In [ ]:
for X in “carrot”:
print (X)
OUTPUT –
#c a r r o t

**“break” statements**.
If you want to exit the loop prior to its completion, you can use the
“break” statements as shown in the example below:

In [ ]:
veg = [“tart”, “scone”, “cookies”, “pies”, “carrot”]
for X in veg:print (X)
if X == “pies”:
break
#OUTPUT –
#tart
#scone
#cookies
#pies

In [ ]:
#In the example below, the print command was executed prior to the
#“break” statement and directly affected the output :
veg = [“tart”, “scone”, “cookies”, “pies”, “carrot”]
for X in veg:
if X == “pies”:
break
print (X)
#OUTPUT –
#tart
#scone
#cookies

**“continue” statement**.
Similar to the “while” loop, the “continue” statements in the “for” loop
is used to stop the execution of the current condition and move to the next
iteration of the loop. Let’s looks at the example below to further understand
this concept:

In [ ]:
veg = [“tart”, “scone”, “cookies”, “pies”, “carrot”]
for X in veg:
if X == “cookies”:
continue
print (X)
#OUTPUT –
#tart
#scone
#pies
#carrot

**“range” function**.
The “range ( )” function can be used to loop through a block of code for
a specific number of times. This function will result in a series of number
beginning with “0” by default, with regular increments of 1 and ending at a
specific number.

In [ ]:
for X in range (5):
print (X)
OUTPUT –
#0 1 2 3 4
#Note – The “range ( )” function defaulted to 0 as the first output, and the
#final value of the range, 5, is excluded from the output.

In [ ]:
for X in range (1, 5):
print (X)
OUTPUT –
#1 2 3 4

In [ ]:
#In the example below, we will specify the increment value, which is set
#to 1 by default:
for X in range (3, 20, 5):
print (X)
# OUTPUT – 3 8 13 18

**“Else” in “For” Loop**.
You can use the “else” keyword to specify a set of code that need to be
executed upon the completion of the loop, as shown in the example below:

In [ ]:
for X in range (5):
print (X)
else:
print (“The loop was completed”)
#OUTPUT –
#0 1 2 3 4
#The loop was completed

**“Nested” Loops**.
When loops are defined within a loop, execution of the inner loop will
occur once for each iteration of the outer loop. Let’s look at the example
below, where we want every single adjective must be printed for each listed
vegetable:

In [ ]:
adjective = [“olive”, “leafy”, “healthy”]
veg = [“spinach”, “kale”, “asparagus”]
for X in adjective:
for Y in veg:
print (X, Y)
#OUTPUT –
#olive spinach
#olive kale
#olive asparagus
#leafy spinachleafy kale
#leafy asparagus
#healthy spinach
#healthy kale
#healthy asparagus

**“pass” statements**.
In Python, if you ever need to execute “for” loops without any content,
you must incorporate a “pass” statement to avoid triggering any error. Here
is an example to further your understanding of this concept.

In [ ]:
for X in [ 1, 2, 3]
pass
#OUTPUT - ......
# The empty “for” loop code above would have resulted in an error
#without the “pass” statement.

> Exercise
1. Write the code to loop through a list of colors (“cyan”,
“lilac”, “red”) without defining a variable. Then loop through the characters
of the string “cyan”.
2. Write the code to loop through a list of colors (“cyan”,
“lilac”, “red”, “white”) without defining a variable. Then break the loop at
“red”, without printing it in the result.
3. Write the code to loop through a range of numbers
starting with 5 and ending with 30. Make sure to define the increments at 6
4. Write the code to loop phones (“iPhone”, “Samsung”,
“Google”), and loop that with colors (“black”, “white”, “gold”) usingnested loops

In [ ]:
#Now, check your code against the correct code below:
colors = [ “cyan”, “lilac”, “red”]
for A in colors:
print (A)
for B in “cyan”:
print (B )
#OUTPUT –
#cyan
#lilac
#red
#c y a n

In [ ]:
colors = [ “cyan”, “lilac”, “red”, “white”]
for A in colors:
if A == “red”:
break
print (A)
#OUTPUT –
#cyan
#lila c

In [ ]:
for X in range (5, 30, 6):
print (X)
#OUTPUT –
#51
#1
#16
#22
#2 8

In [ ]:
colors = [“black”, “white”, “gold”]
phones = [ “iPhone”, “Samsung”, “Google”]
for X in colors:
for Y in phones:
print (X, Y)
#OUTPUT –
#black iPhone
#black Samsung
#black Google
#white iPhone
#white Samsung
#white Google
#gold iPhone
#gold Samsun g
#gold Google

##Python Classes and Objects

Python is one of the many object oriented coding languages. Every entity
of Python can be considered an object and has its own methods and
properties. In Python, Classes are used to construct these objects serving as
object blueprints.
A Python Class can be created using the keyword “class” with a
predefined property (p) as shown in the syntax below:



```
class ClassName:
p = 2
```



A Python Object can then be created from the Python Class created
above, as shown in the syntax below:
```
Object1 = ClassName ( )
print (object1.p)
```

**Built-in Function**

In reality, creation of classes and objects is much more complex than the
basic syntax provided above. This is where a built-in function to create
classes called “__init__()” is used. When the classes are being created, this
inherent class function is executed with it. The “__init__()” function is
mostly used for assigning values to object properties and other actions that
are required for creation of an object. Let’s look at the example below to
understand this function:

In [ ]:
class Vehicle:
def __init__ (self, name, year)
self.name = name
self.name = year
v1 = Vehicle (“AUDI”, 2018)
print (v1.name)
print (v1.year)
#OUTPUT - AUDI 2018

**Object Methods**

There are certain methods that can be created with the Python Objects.
These methods can be considered as functions of that object. For example,
to create a function that would print a comment regarding ownership of the
vehicle and executed on the object v1, the command below will be used:

In [ ]:
class Vehicle:
def __init__ (self, name, year)
self.name = name
self.name = year
def newfunc (ownership):
print (“I am a proud owner of ” + self.name)
v1 = Vehicle (“AUDI”, 2018)
v1.newfunc ()OUTPUT – I am a proud owner of AUDI

**Reference Parameter**

To refer to the latest instance of a class, the “self” parameter is used. It
allows you to access variables that have been derived from a class. This
parameter can be named as needed and does not have to be named “self”.
The important thing to remember here is that the first parameter defined for
a class will become the reference parameter for that class, as shown in the
example below:

In [ ]:
class Vehicle:
def __init__ (refobject, name, year)
refobject.name = name
refobject.name = year
def newfunc (xyz):
print (“I am a proud owner of ” + xyz.name)
v1 = Vehicle (“AUDI”, 2018)
v1.newfunc ()
#OUTPUT – I am a proud owner of AUDI

There might be instances when you need to **change the properties** of an
object. You can easily do so by declaring the new property of the object as
shown in the example below:

In [ ]:
class Vehicle:
def __init__ (refobject, name, year)
refobject.name = name
refobject.name = year
def newfunc (xyz):
print (“I am a proud owner of ” + xyz.name )
v1 = Vehicle (“AUDI”, 2018)
v1.year = 2019

In [ ]:
#You can use the “del” keyword to selectively remove properties of an
#object , as shown in the example below:
class Vehicle:def __init__ (refobject, name, year)
refobject.name = name
refobject.name = year
def newfunc (xyz):
print (“I am a proud owner of ” + xyz.name)
v1 = Vehicle (“AUDI”, 2018)
del v1.year
print (v1.age)
#OUTPUT – ‘Vehicle’ object has no ‘year’ attribute

In [ ]:
#You can also use the “del” keyword to entirely delete an object , as
#shown in the example below :
class Vehicle:
def __init__ (refobject, name, year)
refobject.name = name
refobject.name = year
def newfunc (xyz):
print (“I am a proud owner of ” + xyz.name)
v1 = Vehicle (“AUDI”, 2018)
del v1
#OUTPUT – NameError: ‘v1’ is not defined

**The “pass” statement**

The definition of a Python Class must contain values, or you will receive
an error. However, there might be instances when the definition of a class
does not have any content. In such a case, you can use the “pass” statement
to avoid getting an error. Look at the example below:
```
class Vehicle: # this class definition is empty
pass # used to avoid any error s
```

> Excercise

1. Create a Class “KafeShop” with properties as “type” and “size” with corresponding values as “cappuccino” and “large”, respectively
2. Create a Class “KafeShop” with properties as “type” and “size” with corresponding values as “cappuccino” and “large” respectively.
Create a new function “funct1” that would print “I would like to order a” and execute it on the object .

In [ ]:
class KafeShop:
def __init__ (refobject, type, size)
refobject.type = type
refobject.size = size
c1 = KafeShop (“cappuccino”, “large”)
print (c1.type)
print (c1.size)
#OUTPUT – cappuccino large

In [ ]:
class KafeShop:
def __init__ (refobject, type, size)
refobject.type = type
refobject.size = size
def funct1 (refobject):
print (“I would like to order a” + refobject.type)
c1 = KafeShop (“cappuccino”, “large”)
c1.funct1 ( )
#OUTPUT – I would like to order a cappuccino